{% extends "base.html" %}
{% block content %}
<h2 style="text-align: center; margin-bottom: 20px;">Кошница</h2>

{% if items %}
  {% set total = 0 %}
  <div>
    {% for it in items %}
      {% set item_total = it.product.price * it.quantity %}
      {% set total = total + item_total %}

      <div class="cart-item">
        <img src="{{ url_for('static', filename=it.product.image) }}" 
             alt="{{ it.product.name }}" 
             class="cart-item-image">

        <div class="cart-item-details">
          <h3>{{ it.product.name }}</h3>
          <p>Размер: {{ it.size or '-' }}</p>
          <p>Количество: {{ it.quantity }}</p>
          <p>Цена за бр: {{ "%.2f"|format(it.product.price) }} лв</p>
          <p style="font-weight: bold;">Общо за този продукт: {{ "%.2f"|format(item_total) }} лв</p>
        </div>

        <div class="cart-item-panel">
          <p>Quantity: {{ it.quantity }}</p>
          <p>Subtotal: {{ "%.2f"|format(item_total) }} лв</p>
          <a href="{{ url_for('cart.remove_from_cart', product_id=it.product_id) }}" 
             class="btn-remove">[Премахни]</a>
        </div>
      </div>
    {% endfor %}

    <div style="text-align: right; margin-top: 20px; max-width: 700px; margin-left: auto; margin-right: auto;color: #444; font-weight: bold;">
      <h3>Обща сума: {{ "%.2f"|format(total) }} лв</h3>
    </div>

    <div style="text-align: center; margin-top: 30px;">
      <a href="{{ url_for('cart.checkout') }}"
         style="display: inline-block; padding: 12px 24px; background-color: grey; color: white; text-decoration: none; border-radius: 6px; font-weight: bold;">
        Финализирай поръчка
      </a>
    </div>
  </div>
{% else %}
  <p style="text-align: center;">Кошницата е празна.</p>
{% endif %}
{% endblock %}
