{% extends "base.html" %}
{% block content %}
  <h2>Кошница</h2>
  {% if items %}
    <ul>
      {% for it in items %}
        <li>
          {{ it.product.name }} ({{ it.size or '-' }}) — кол: {{ it.quantity }} — цена за бр: {{ it.product.price }} лв
          <a href="{{ url_for('cart.remove_from_cart', product_id=it.product_id) }}">[Премахни]</a>
        </li>
      {% endfor %}
    </ul>
    <p><a href="{{ url_for('cart.checkout') }}">Финализирай поръчка</a></p>
  {% else %}
    <p>Кошницата е празна.</p>
  {% endif %}
{% endblock %}
