{% extends "base.html" %}
{% block content %}
<div class="auth-container">
  <h2 class="auth-title">Регистрация</h2>
  <form method="post" class="auth-form">
    <label>Име
      <input type="text" name="name" placeholder="Въведете име">
    </label>
    <label>Email
      <input type="email" name="email" placeholder="Въведете email" required>
    </label>
    <label>Парола
      <input type="password" name="password" placeholder="Въведете парола" required>
    </label>
    <label>Роля
      <select name="role">
        <option value="user">Потребител</option>
        <option value="admin">Администратор</option>
      </select>
    </label>
    <button type="submit" class="auth-btn">Регистрация</button>
  </form>
</div>
{% endblock %}
